body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.bloque1 {
    background-color: gold;
    border: 2px solid;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 10px;
}

.bloque2 {
    background-color: silver;
    border: 2px solid;
    padding: 10px;
    margin-bottom: 5px;
}

img {
    display: block;
    margin: 0 auto;
    width: 400px;
}
